@*@model MVC_ONLINE_TICARI_OTOMASYON.Models.Siniflar.Class3
@{
    ViewBag.Title = "Deneme";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<div>
    <h2>Kategoriler - Ürünler</h2>
</div>

<br />

<div>
    @Html.Label=("Kategoriler")
    @Html.DropDownList=("DroKategori",Model.Kategoriler,"----Kategori Seçiniz----", new{@class = "form-control"})


</div>*@
