@using MVC_ONLINE_TICARI_OTOMASYON.Models.Siniflar <!--Veri Tabanı Çağırmak İçin-->
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
<!--Bu sayfada çağıracağın değerler-->
@model X.PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered " style="margin-top:20px; margin-left:20px; margin-right:20px;">
  
    <tr>
        
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    
    @foreach (var k in Model)
   {<!--Veri Listeleme İçin Kullanılr.-->
       
<tr>
    <!--Verileri Getirmek için -->
   
    <td>
        @k.KategoriAd

    </td>
    <td><a href="/Kategori/KategoriSil/@k.KategoriID" class=" btn btn-danger">Sil</a></td>
    <td><a href="/Kategori/KategoriGetir/@k.KategoriID" class="btn btn-success">Güncelle</a></td>

</tr>
   }
</table>

<!--Sayfalar arası geçiş için-->
@Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), 
    new PagedListRenderOptions { 
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" }
    })


<a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>