<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
  </appSettings>
  <!-- Allow anonymous access to specific paths -->
  <connectionStrings>
    <!-- LocalDB ile (Visual Studio ile gelen) -->
    <!--<add name="Context" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=TicariOtomasyonDB;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
    <!-- SQL Server Express ile -->
    <add name="Context" connectionString="data source=YAVUZ\SQLEXPRESS;initial catalog=dataproje;integrated security=True;MultipleActiveResultSets=True;App=TicariOtomasyon" providerName="System.Data.SqlClient" />
    <add name="baglanti" connectionString="data source=YAVUZ\SQLEXPRESS;initial catalog=dataproje;integrated security=True;MultipleActiveResultSets=True;App=TicariOtomasyon" providerName="System.Data.SqlClient" />
    <!-- Uzak sunucu için örnek -->
    <!--<add name="Context" connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>