
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

@{ 
    var grafik = new Chart(width: 500, height: 500);  //Grafik oluşturma
    grafik.AddTitle(text: "Kategoriler ve Ürün Sayıları");
    grafik.AddLegend(title: "Değerler");

    //Grafikde x ve y bölümlerine değer ekleme
    grafik.AddSeries(
        //Chart type diyerek grafik türünü değiştirebiliriz.
        name: "Veriler",
        chartType:"Pie",
        xValue: new[] { "Beyaz Eşya", "Televizyon", "Bilgisayar", "Küçük Ev Aletleri" },
        yValues: new[] {500,250,340,620}

);

    grafik.Write(); //Ekrana yazdırma
}
